.container {
    width: 700vw;
    transition: transform 0.5s;
}
.inner {
    width: 100vw;
    float: left;
}

.inner img {
    width: 700px;
    height: 700px;
    padding-top: 20px;
}
